## Overture

In [89]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
from tqdm import tqdm

In [2]:
SERVICE_ACCOUNT_FILE = './config/local/rd-multicanal-caip-prod-0ec5b75f6a1b.json'

In [3]:
credentials = service_account.Credentials.from_service_account_file( SERVICE_ACCOUNT_FILE)

## Connection

In [4]:
client = bigquery.Client(credentials=credentials)

## Explore

### List Datasets

In [5]:
datasets = client.list_datasets()

print("Datasets in project '{}':".format(client.project))
for dataset in datasets:
    print(dataset.dataset_id)

Datasets in project 'rd-multicanal-caip-prod':
caip
caip2
kibana
orders

### List tables in dataset

In [6]:
tables = client.list_tables('caip')
print("\tTables contained in '{}':".format(dataset.dataset_id))
for table in tables:
    print("\t\t{}.{}.{}".format(table.project, table.dataset_id, table.table_id))

	Tables contained in 'orders':
		rd-multicanal-caip-prod.caip.comment
		rd-multicanal-caip-prod.caip.feedback

### List columns in a table

In [7]:
dataset_id = 'caip'
table_id = 'comment'
table_ref = client.dataset(dataset_id).table(table_id)
table_obj = client.get_table(table_ref)
print("\t\t\tColumns in '{}':".format(table_id))
for field in table_obj.schema:
    print("\t\t\t\t'{}'".format(field.name))

			Columns in 'comment':
				'sk_comment'
				'sk_feedback'
				'comment'
				'created_ts'

## Exp0

### save dict of dataframes with column types

In [51]:
dtables = {}
datasets = client.list_datasets()
for dataset in datasets:
    tables = client.list_tables(dataset)
    for table in tables:
        table_id = f'{dataset.dataset_id}.{table.table_id}'
        dtables[table_id] = {}
        table_ref = client.dataset(dataset.dataset_id).table(table.table_id)
        table_obj = client.get_table(table_ref)
        for field in table_obj.schema:
            dtables[table_id][field.name] = field.field_type

In [52]:
dftables = {}
for table in dtables:
    dftables[table] = pd.DataFrame.from_dict(dtables[table], orient='index', columns=['type'])

### write each df to a excel sheet inside an excel file

In [53]:

writer = pd.ExcelWriter('rd-multicanal-caip-prod_column_types.xlsx',engine='xlsxwriter')   
for table_id, table in dftables.items():
    table.to_excel(writer, sheet_name=table_id)
writer.close()

***

### count rows in all tables

In [38]:
d_len_tables = {}
datasets = client.list_datasets()
for dataset in datasets:
    tables = client.list_tables(dataset)
    d_len_tables[dataset.dataset_id] = {}
    for table in tables:
        table_id = f'{dataset.dataset_id}.{table.table_id}'
        QUERY = (
            
        )
        d_len_tables[dataset.dataset_id][table.table_id] = client.query(f'SELECT count(*) FROM {table_id}').to_dataframe().values[0][0]  # API request

Datasets in project 'rd-multicanal-caip-prod':

In [39]:
d_len_tables['caip']['comment']

244

In [44]:
df_len_tables = {}
for dataset_id in d_len_tables.keys():
    df_len_tables[dataset_id] = pd.DataFrame.from_dict(d_len_tables[dataset_id], orient='index', columns=['n_rows'])

In [45]:
df_len_tables['caip']

          n_rows
comment      244
feedback     368

In [ ]:

writer = pd.ExcelWriter('rd-multicanal-caip-prod_nrows.xlsx',engine='xlsxwriter')   
for dataset_id, tables_count in df_len_tables.items():
    tables_count.to_excel(writer, sheet_name=dataset_id)
writer.close()

### Get all timestamp columns

In [60]:
time_cols = {}
datasets = client.list_datasets()
for dataset in datasets:
    tables = client.list_tables(dataset)
    for table in tables:
        table_id = f'{dataset.dataset_id}.{table.table_id}'
        time_cols[table_id] = []
        table_ref = client.dataset(dataset.dataset_id).table(table.table_id)
        table_obj = client.get_table(table_ref)
        for field in table_obj.schema:
            if field.field_type == 'TIMESTAMP':
                time_cols[table_id].append(field.name)

In [61]:
time_cols

{'caip.comment': ['created_ts'],
 'caip.feedback': ['created_ts'],
 'caip2.comment': ['created_ts'],
 'caip2.feedback': ['created_ts'],
 'caip2.feedback19JAN23': ['created_ts'],
 'kibana.call_logs': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'kibana.call_logs_ETL_TESTE': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'kibana.call_logs_bkp_01FEV23': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'kibana.call_logs_bkp_13MAR23': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'kibana.call_logs_bkp_19ABR23': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'kibana.call_logs_debug': ['inicio_sessao_GMT_0',
  'fim_sessao_GMT_0',
  'inicio_sessao_GMT_BR',
  'fim_sessao_GMT_BR',
  'data_br',
  'created'],
 'orders.analytics': []}

### get date range for each timestamp columns as list of timestamp objects

In [93]:
list_time_ranges = {}
for table_id, table in tqdm(time_cols.items()):
    list_time_ranges[table_id] = {}
    for field_name in table:
        list_time_ranges[table_id][field_name] = (
            list(client.query(f'SELECT min({field_name}), max({field_name}) FROM {table_id}').to_dataframe().values[0]))

100%|██████████| 12/12 [01:05<00:00,  5.48s/it]

### convert timestamps to strings

In [ ]:
str_time_ranges = {}
for k,v in time_ranges.items():
    str_time_ranges[k] = {}
    for k1,v1 in v.items():
        str_time_ranges[k][k1] = [str(i) for i in v1]
#str_time_ranges = {k:i.strftime('%Y-%m-%d %H:%M:%S') for i in time_ranges['caip.comment']['created_at']]

### get date range for each timestamp columns as dataframes

In [140]:
df_time_ranges = {}
for table_id, table in tqdm(time_cols.items()):
    df = pd.DataFrame()
    for field_name in table:
        df_field = client.query(f'SELECT min({field_name}) as min_date, max({field_name}) as max_date FROM {table_id}').to_dataframe()
        df_field.index = [field_name]
        df = pd.concat((df, df_field))
    df_time_ranges[table_id]= df

100%|██████████| 12/12 [00:45<00:00,  3.81s/it]

### Convert timestamp datezone to string

In [155]:
for k,v in df_time_ranges.items():
    #print(k, v)
    if len(v)>0:
        try:
            df_time_ranges[k]['min_date'] = v['min_date'].apply(lambda x:x.strftime('%Y-%m-%d %H:%M:%S'))
            df_time_ranges[k]['max_date'] = v['max_date'].apply(lambda x:x.strftime('%Y-%m-%d %H:%M:%S'))
        except Exception as e:
            print(e)

'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'
'str' object has no attribute 'strftime'

In [ ]:
df['caip.comment']

In [158]:
writer = pd.ExcelWriter('rd-multicanal-caip-prod_dates.xlsx',engine='xlsxwriter')   
for table_id, table_dates in df_time_ranges.items():
    print(table_id)
    table_dates.to_excel(writer, sheet_name=table_id)
writer.close()

caip.comment

ValueError: Excel does not support datetimes with timezones. Please ensure that datetimes are timezone unaware before writing to Excel.

***

### Query

### Make query

In [9]:
QUERY = (
    'SELECT * FROM `caip.comment`'
    'LIMIT 100')
query_job = client.query(QUERY)  # API request

### get dataframe

In [10]:
df = query_job.to_dataframe()
df.head()

,sk_comment,sk_feedback,comment,created_ts
0,f6641b93-bbad-4346-b740-a7851b388a47,7e6da096-133e-4797-a3ba-c732d9164652,.,2022-07-27 23:12:24.317000+00:00
1,39dcfeb1-5dc6-4657-aaa7-98da0ec8571c,f0127695-3fde-499a-8d1c-a78b09e70d6c,4,2022-06-08 15:26:17.861000+00:00
2,95609881-7521-4171-9f9c-ae754dfc3db4,f8b8a295-298a-4e01-ae16-bb4e266fea80,A,2022-07-28 15:51:06.667000+00:00
3,a1b46379-9d67-4b39-ba68-0bde208b77ff,46581203-f334-48ae-974b-6a0c530fe075,Oi,2022-07-26 02:14:08.516000+00:00
4,dc66e0a5-5c5f-4426-8088-c6661d1b065b,14c0cb20-5df8-42e7-8834-159e7a253599,oii,2022-07-28 18:44:24.551000+00:00

### get rows from query result

In [11]:
rows = query_job.result()
for row in rows:
    print(row)

Row(('f6641b93-bbad-4346-b740-a7851b388a47', '7e6da096-133e-4797-a3ba-c732d9164652', '.', datetime.datetime(2022, 7, 27, 23, 12, 24, 317000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('39dcfeb1-5dc6-4657-aaa7-98da0ec8571c', 'f0127695-3fde-499a-8d1c-a78b09e70d6c', '4', datetime.datetime(2022, 6, 8, 15, 26, 17, 861000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('95609881-7521-4171-9f9c-ae754dfc3db4', 'f8b8a295-298a-4e01-ae16-bb4e266fea80', 'A', datetime.datetime(2022, 7, 28, 15, 51, 6, 667000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('a1b46379-9d67-4b39-ba68-0bde208b77ff', '46581203-f334-48ae-974b-6a0c530fe075', 'Oi', datetime.datetime(2022, 7, 26, 2, 14, 8, 516000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('dc66e0a5-5c5f-4426-8088-c6661d1b065b', '14c0cb20-5df8-42e7-8834-159e7a253599', 'oii', datetime.datetime(2022, 7, 28, 18, 44, 24, 551000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('e9a8ba92-f295-4ee1-bcbe-24ccf7e4e510', '031ca74b-62cd-4e22-98ad-799407275713', 'Nada', datetime.datetime(2022, 7, 28, 20, 15, 28, 423000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('c10b48d6-1f5d-48f7-9b8e-6e67b9619b7a', 'f6ff7df7-cff2-42d0-808c-c6d227fd9e8c', 'P tig', datetime.datetime(2022, 7, 27, 18, 49, 58, 144000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('7d554c45-42ba-43ba-a498-c22ac2d5a442', '8efacaff-842b-4236-8cea-d71d8f9d29fb', 'gostei', datetime.datetime(2022, 6, 3, 19, 48, 38, 685000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('7723b1a0-70fd-4293-bfe6-6c653cdcc5d7', 'cbe391d4-45e3-4ef3-ab71-317eecae2268', 'gostei', datetime.datetime(2022, 7, 14, 13, 53, 39, 892000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('053d379c-6e60-40ce-a11d-ec027ee62bb9', '53e21d7d-f580-4a23-866c-97fc275852b6', 'Nao sei', datetime.datetime(2022, 5, 9, 18, 53, 42, 352000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('aca90616-98eb-4d9c-8788-3e6fe857161f', 'd0fb38a8-fb2a-4cfb-8088-7ee22987c4e3', 'Rapidez', datetime.datetime(2022, 7, 25, 21, 27, 9, 914000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('3d8be0d5-30eb-401c-8e96-22c6c9ec2502', '719cf1da-c705-4df3-96e7-550f394ecae3', 'Rapidez', datetime.datetime(2022, 7, 25, 22, 44, 16, 723000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('3367fc8c-fe75-44f1-b72b-6262814f5790', 'e3f96a95-0191-4721-a499-64492521df3e', 'Rapidez', datetime.datetime(2022, 7, 26, 21, 33, 14, 732000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('20a99dec-94c0-423b-8b2b-a02c21b4f8fc', '9f11c80c-9e19-4f94-9fb1-9c14719b2dce', 'Rapidez', datetime.datetime(2022, 7, 26, 4, 20, 29, 397000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('7c657e83-f955-4077-8e7a-32b8134c8851', '18f43a20-a228-42ba-a44c-3eaf20671a07', 'Rapidez', datetime.datetime(2022, 7, 26, 1, 39, 48, 819000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('e2bcc8f1-84f1-47bc-9a0e-2d8e60b2a2ce', '2a935dbe-998a-44b7-a4de-ae36976d2bef', 'Rapidez', datetime.datetime(2022, 7, 26, 15, 26, 50, 238000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('a3065727-1c47-4e1a-ad7c-6b706b846d71', '98e215a5-fdcb-4c0b-b33c-ca45f69c9775', 'Rapidez', datetime.datetime(2022, 7, 27, 21, 45, 48, 529000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('4a44aff6-6c04-42b7-8f1a-a477ea65df26', '9233ec34-bab3-44b9-ab9b-5f69c3f0d4ae', 'foi bom', datetime.datetime(2022, 7, 27, 12, 18, 1, 19000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('69551054-1f8b-4c29-b063-97af6ecb3212', '62fae23f-a142-4bc3-a42a-47169f54e509', 'rapidez', datetime.datetime(2022, 7, 26, 13, 52, 38, 534000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('67e33397-4bb5-4881-8358-e82df71bc170', 'e1c911bf-ba9a-4f7b-b6ac-3ea262997ed3', 'Presteza', datetime.datetime(2022, 7, 27, 0, 59, 59, 521000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('73c00887-18ee-4fc9-a15a-db18fcd30392', 'b8971f14-350a-4fa0-82e7-104cd57e3208', 'Ra o ido', datetime.datetime(2022, 7, 27, 13, 16, 42, 224000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('f0700c8d-4cc4-4d1e-ae48-5febdb62847b', 'ab3e156d-7aab-4e4c-a2c9-cb8fee9207e8', 'anwdinen', datetime.datetime(2022, 6, 28, 14, 51, 54, 39000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('0ace8af2-afba-4dcf-a0a9-4e6149d6ac16', '502a0391-d425-4800-a0ed-0e67ab038d69', 'bot ruim', datetime.datetime(2022, 7, 26, 16, 59, 40, 197000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('03ea62ed-0851-47d5-98b9-0dcffb27aa19', 'e2000a44-d7c9-495d-b316-de55633aeb47', 'A rapidez', datetime.datetime(2022, 7, 26, 20, 23, 26, 26000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1ea1f709-8814-4f17-8839-9cfd06c5ac16', '9191bbfb-f280-4261-9907-79d2858dafe3', 'Agilidade', datetime.datetime(2022, 7, 27, 0, 43, 49, 14000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1a4f52bc-4824-40fa-a811-0b1a88219940', '0cedb643-793d-4f60-a46c-a97df9c6a8a0', 'Agilidade', datetime.datetime(2022, 7, 26, 16, 24, 15, 822000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('991c8e38-b097-4052-a3df-c09dd01d1299', '3f7f0d6d-25ae-44aa-a9ab-2812748949a9', 'Agilidade', datetime.datetime(2022, 7, 26, 19, 7, 23, 516000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('d9b07fa4-a6e0-4b70-b8ed-84db707349d0', '07118da4-886c-43b5-9ea3-7032eebbb82e', 'Agilidade', datetime.datetime(2022, 7, 26, 14, 21, 37, 685000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('587ce566-7f9f-4028-9e9c-7b1a168be71b', 'a740aab3-440d-4bbf-ab85-d584ace1d6a7', 'Atendente', datetime.datetime(2022, 7, 28, 13, 0, 54, 926000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('0e246d9f-5a35-466a-be0c-4629396aaa97', '9f331034-2f74-4702-b45f-4026205874df', 'agilidade', datetime.datetime(2022, 7, 26, 19, 28, 53, 632000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('848235e7-1f3c-4913-a465-db9132dbf7ec', '68f78e0c-3262-4e6f-934b-efd2f244d530', 'agilidade', datetime.datetime(2022, 7, 26, 19, 30, 12, 327000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('0fdb7fbe-546c-4804-9bb7-8a077eddfed0', '0c185495-53a4-4b0c-bdf6-237b7c2c83dd', 'agilidade', datetime.datetime(2022, 7, 26, 19, 33, 11, 914000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1e87c6a3-1359-4d35-a251-bbd5781b1d0b', '8aa7847a-976c-4060-8fef-1de0b374194e', 'agilidade', datetime.datetime(2022, 7, 26, 19, 34, 0, 124000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('d99bfe4c-900b-4383-8da2-ace57014241e', '478b457e-046d-47bb-98f0-ef058bc73647', 'agilidade', datetime.datetime(2022, 7, 26, 19, 37, 9, 193000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('3af26cea-9590-4325-82ed-98f1c9d9bfe2', 'e03e03a7-856f-443a-90cd-fdbfa56bfb47', 'agilidade', datetime.datetime(2022, 7, 26, 20, 22, 45, 308000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('3f7737cd-c03f-4716-be9e-871edea269ea', '56712b6c-0f38-47c8-b530-cdca1b31fc1e', 'agilidade', datetime.datetime(2022, 7, 26, 11, 19, 47, 394000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('13e718b3-ae19-4c6b-8f5a-83177e2bad98', '0f3d612e-d88a-46be-83eb-14b70e636fec', 'agilidade', datetime.datetime(2022, 7, 26, 18, 9, 24, 219000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('31238e17-48f5-4dc4-9721-a4dac64a34b8', 'd049441c-2a50-45e9-b87b-0c166e88299e', 'agilidade', datetime.datetime(2022, 7, 26, 15, 8, 4, 515000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('7d1bdbcf-3248-41ff-a948-7d8dae82ef7c', '6191f7ff-913d-47c6-9d71-26fdd1e7f612', 'agilidade', datetime.datetime(2022, 7, 26, 15, 50, 11, 271000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('a9e84846-c591-40a1-b4a7-372653c27647', 'ad4bf7f0-d616-4d26-a85a-76b4fe0f42a6', 'agilidade', datetime.datetime(2022, 7, 27, 18, 27, 21, 624000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('0c9002e2-cc9e-4825-9051-84837be25409', 'badaa478-c784-4532-935c-f122cc2d31a8', 'agilidade', datetime.datetime(2022, 7, 27, 18, 28, 19, 874000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('2ef0f7c1-a6a4-433d-b496-1696715df77b', '78ca95c9-69d2-4b9d-a838-2ddf84555446', 'agilidade', datetime.datetime(2022, 7, 27, 18, 37, 54, 324000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('39c91e84-5682-4a8a-b029-2d8ea0b8d773', '380ae2fc-9330-4fbb-88f9-0df7c24ff64b', 'agilidade', datetime.datetime(2022, 7, 27, 18, 38, 22, 972000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1a85c447-9807-470b-a5f6-9ae4aebe19c3', '07dc7d91-aeac-46f2-978c-9adfaf82397b', 'agilidade', datetime.datetime(2022, 7, 28, 10, 43, 30, 227000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('f63d5c4d-4509-43bc-8f9e-43e5a887945b', 'b163a15a-0cfe-4286-a26e-80d5f70c53d2', 'agilidade', datetime.datetime(2022, 7, 28, 10, 49, 39, 364000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('9528ef14-bb5a-4af4-bb55-cf5ab7f6e6ff', '4d2f0913-86c4-4eb4-9b62-4c90d4a961d1', 'agilidade', datetime.datetime(2022, 7, 29, 12, 34, 55, 403000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('e90e8840-0e48-497c-be8c-a3f7be3b4766', '6296bdb9-6aad-4466-b607-94cea4436011', 'muito bom', datetime.datetime(2022, 6, 8, 17, 49, 16, 534000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('c198a798-7305-42d0-8741-3788f7dced78', 'f8c73c07-fa7f-4502-bfd8-e80ac84b3cc4', '4595465656', datetime.datetime(2022, 6, 8, 17, 49, 28, 536000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('8cc46000-a76a-4409-af6a-e3316b55dc1c', 'c95308bd-ed0a-46c9-af7d-5489c25e4bfc', 'atendimento', datetime.datetime(2022, 6, 7, 17, 43, 7, 929000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('27fe4a5b-e6f1-4d4c-9c80-1cbad7e4cad5', 'c12486fb-2ada-43b6-9f6f-ca0753de99d6', 'atendimento', datetime.datetime(2022, 6, 7, 18, 9, 20, 839000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('21a01ab6-eb55-44a4-9a77-2bb64d3e7884', 'dfe80b51-f7b1-4e98-b32a-34005416cdb6', 'atendimento', datetime.datetime(2022, 7, 12, 15, 59, 29, 649000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('727e3cf2-a66d-4d8b-92c9-a6272f5c9870', 'dffd9cbd-c58b-4001-9397-403843a77af1', 'atendimento', datetime.datetime(2022, 7, 20, 10, 47, 5, 58000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('ecd5e4ea-548d-4f11-a398-35a4723ff0d3', '532543d6-be2f-450f-82ab-ccfd487c27f5', 'atendimento', datetime.datetime(2022, 7, 26, 14, 9, 30, 897000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('4dbf808b-1f35-493e-a242-9f1672838ccc', '0f165115-eccd-40ca-b1ae-36f35bca0baf', 'teste livia', datetime.datetime(2022, 7, 25, 21, 2, 13, 616000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('53cd250b-0852-4f80-9ed4-69455851a801', 'b14c796e-e18d-476a-8a57-c1f5d71fd9ee', 'Não resolvi', datetime.datetime(2022, 7, 29, 14, 22, 20, 931000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1acec679-3414-4693-8c8b-390b7aad37eb', '09c6ecac-a867-4858-a928-fa4d0184697a', 'informação', datetime.datetime(2022, 5, 17, 20, 28, 21, 379000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('17b383bd-2035-4d24-8da6-7d233bc063de', 'e6ca55ef-9cf2-4c6e-a5e2-879b3376b596', 'informções', datetime.datetime(2022, 5, 16, 20, 35, 47, 939000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('8e2c69b2-5151-4cdc-bc92-ede74f11904e', 'da5f43c7-dd0e-459d-886c-9f713d5eb16b', 'nao resolveu', datetime.datetime(2022, 7, 27, 13, 51, 32, 626000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('cc41f1de-1d2b-4ca1-81ec-5cc254973075', '4f585c6a-3b9e-4aef-904b-c93e15bd9fd0', 'nao resolveu', datetime.datetime(2022, 7, 28, 15, 27, 12, 16000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('edd4a9f7-79d0-45c3-bc03-4692a5eebbe5', '6ea94278-bc46-460c-9b84-331a41cb786b', 'nao resolveu', datetime.datetime(2022, 7, 28, 22, 57, 2, 319000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('f649cc58-22f4-4bab-8ad7-908e81f18512', '4c2807f0-e566-43c5-b905-740e8c6b5d53', 'Informações', datetime.datetime(2022, 5, 20, 15, 5, 41, 742000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('b30bf73d-d3fe-4a17-824c-46d21c9f6622', '9f3c6c75-2a42-48c7-9964-2716596b031f', 'Não resolveu', datetime.datetime(2022, 7, 29, 16, 54, 0, 727000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('06b743be-50ff-4848-9e24-0f69e9b53028', '90d417e7-8158-41e6-8462-c10b824d978d', 'informações', datetime.datetime(2022, 5, 17, 20, 50, 22, 341000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('39d90ad1-8e07-4a8b-a8b6-ceb71eeb82e1', '82e70a78-5140-4cbd-a47f-a24e7e223765', 'informações', datetime.datetime(2022, 5, 19, 18, 21, 44, 115000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('165e31be-2bae-407e-a192-fa860ff317be', '1b78e67a-b0c9-42b7-932e-da7b90dfe288', 'informações', datetime.datetime(2022, 5, 19, 18, 32, 50, 356000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('2f2deb57-746b-4a5d-9510-afea44ac85f7', '7ed105e9-505e-4539-a929-0294d8549083', 'informações', datetime.datetime(2022, 5, 20, 12, 27, 34, 844000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('1ce70912-2a5a-42e4-9f47-82ee72839112', '831bf28f-82c5-46bb-b5a4-f249f3875b21', 'informações', datetime.datetime(2022, 5, 24, 13, 26, 54, 662000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('da960707-7dce-4ce8-8549-85891aa5b60c', '2a7e3dc2-3d73-4279-a07e-8c4df2fc4d5f', 'A loja é longe', datetime.datetime(2022, 7, 25, 20, 25, 38, 624000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('d49eb008-cd63-4217-ab3f-911b5603243b', '6ea2204a-4fa0-4c5a-b26c-558399ba972f', 'Resposta rapida', datetime.datetime(2022, 7, 27, 20, 41, 43, 608000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('ed72c6ec-31da-4fbf-9e53-b855d698e003', 'ee8015f3-4ff6-4ebc-ad07-2f8297b74111', 'Bot maravilhoso!', datetime.datetime(2022, 5, 5, 20, 8, 20, 759000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('dcfb65a7-c697-4ecb-869d-caefc797eb6b', 'aa2b1a70-cbec-4866-b670-d90d5f55f50c', 'Não resolvi nada', datetime.datetime(2022, 7, 26, 18, 27, 25, 922000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('be59c42a-41c2-4018-98d4-0107f1f8e95b', 'ac71cab4-7fd4-42be-8231-958ea7c33334', 'falta de opções', datetime.datetime(2022, 7, 27, 21, 57, 37, 325000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('cada7743-2b9c-4920-850c-4620aa11f075', '7e3ef4e1-6a6d-404b-9fcf-9713233b789a', 'otimo atendimento', datetime.datetime(2022, 6, 9, 14, 8, 15, 933000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('02149282-5c99-40a1-ac79-98a697e84fb3', 'cefd10c6-04e5-44b6-8335-9522073e278d', 'Não resolveu NADA', datetime.datetime(2022, 7, 26, 23, 49, 39, 617000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('68bb07c3-acec-4f4d-a932-9f531f6fe684', 'fd59de2b-2b6f-4bbe-9055-978212901ebc', 'Poderia ser melhor', datetime.datetime(2022, 7, 25, 20, 59, 58, 848000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('90ffa199-d0a7-40f2-b9ff-73a059ebe042', 'c87e54ed-efc8-4b1c-b6cc-a2fd2038df7c', 'Pronto atendimento', datetime.datetime(2022, 7, 29, 8, 59, 6, 855000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('2c5ee74c-b249-42b2-b32c-00d200739baf', '38d06675-92ee-46ef-a151-f60863118441', 'Quero mas detalhes', datetime.datetime(2022, 7, 26, 1, 59, 59, 713000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('600df9c1-a60d-4e97-bc9b-5dc1d22ffad3', 'b138e21d-ee38-4aa5-bbc1-7f5ecf6742d2', 'gostei do serviço', datetime.datetime(2022, 5, 13, 13, 13, 0, 339000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('2c2a0f23-c9d0-4f30-9b79-47bbd82bd76e', '6cd7cf0c-ff7b-4bca-b893-e6452626a376', 'ótimo atendimento', datetime.datetime(2022, 6, 9, 12, 52, 28, 738000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})
Row(('762a9cb4-e3e7-4b15-afc0-36d618feabf2', '333d16c7-1e8c-4449-b799-ce3adfe3e2d8', 'Rapidez atendimento', datetime.datetime(2022, 7, 26, 15, 19, 22, 824000, tzinfo=datetime.timezone.utc)), {'sk_comment': 0, 'sk_feedback': 1, 'comment': 2, 'created_ts': 3})